{{- if and .Values.ca.enabled .Values.ca.cert -}}

{{- if .Values.ca.secretRef -}}
{{- fail "ca.cert and ca.secretRef are mutually exclusive - use one or the other, not both" -}}
{{- end -}}

apiVersion: v1
kind: Secret
metadata:
  name: coturn-ca-certificate
  labels:
    {{- include "coturn.labels" . | nindent 4 }}
type: Opaque
data:
  ca-certificates.crt: {{ .Values.ca.cert | b64enc }}

{{- end -}}
