---
Checks: 'clang-diagnostic-*,
	,clang-analyzer-*,
	,-clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
	,-clang-analyzer-security.insecureAPI.strcpy,
	,-clang-analyzer-cplusplus.InnerPointer,
	,bugprone-*,
	,-bugprone-easily-swappable-parameters,
	,performance-*,
	,readability-*,
	,-readability-braces-around-statements,
	,-readability-identifier-length,
	,-readability-else-after-return,
	,-readability-magic-numbers,
	,-readability-function-cognitive-complexity,
	,-readability-uppercase-literal-suffix,
	,modernize-*,
	,-modernize-use-trailing-return-type,
	,-modernize-use-auto,
	,-cplusplus.InnerPointer,
	,-clang-diagnostic-ignored-optimization-argument,
'
