*

!docker/coturn/alpine/
!docker/coturn/debian/
!docker/coturn/rootfs/

!cmake/
!CMakeLists.txt
!configure
!examples/
!INSTALL
!LICENSE
!LICENSE.OpenSSL
!make-man.sh
!Makefile.in
!man/
!postinstall.txt
!README.turn*
!src/
!turndb/
